pace_start=600
pace_period={{pace_period}}
pace_phase=0
space_mult={{space_mult}}
print_every={{print_every}}
dt=0.005
t1={{steps_num}}
t_S2=158
dr=0.25
Diffuz1=0.16
Diffuz2=0.04
I_stim=93
t_stim=1.5
stim_conf={{stim_conf}}
g_Na_modifier=1
i_si_modifier=1
i_K_modifier=1