pace_start=200000
pace_period=236
space_mult_x=8
space_mult_y=8
print_every=500
dt=0.02
t1=5000
drx=0.25
dry=0.25
nx=399
ny=399
S2_x=200
S2_y=50
Diffuz1=0.154
Diffuz2=0.154
I_stim=-40
t_stim=1.5
scar_stencil_i=120
scar_stencil_j=180
smartstim=0
c_gNa=1
electrode=5
assim=0
Nbegin=3
deltaT=-0.5
Ttarget=227
Nrepeat=3
read_from_file=0
save_to_file=0