pace_start=200
pace_period={{pace_period}}
pace_phase=0
space_mult=10
print_every={{print_every}}
dt=0.008
t1={{steps_num}}
t_S2=20
dr=0.4
Da=3
Df=3
S1_width=0.1
n=299
phi=0
I_stim=-20
t_stim=0.1
stim_conf={{stim_conf}}
ka=8
a=0.03
eta=0.1